:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

/* start box */

.d-flex {
    display: flex;
}

.align-ce {
    align-items: center;
}

.f-wrap {
    flex-wrap: wrap;
}

.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

.d-block {
    display: block;
}

@media (max-width:767px) {
    .block-mob {
        display: block;
    }

    .hide-mob {
        display: none;
    }

    .txt-ce-mob {
        text-align: center;
    }
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.w-fit {
    width: fit-content;
}

.w-100 {
    width: 100px;
}

.h-100 {
    height: 100px;
}

/* end box */
/* start clor */
.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-red {
    background-color: var(--red-color);
}

.cl-grey {
    color: var(--grey-color);
}

.cl-black {
    color: black;
}

.cl-white {
    color: white;
}

.cl-orange {
    color: var(--orange-color);
}

.cl-blue {
    color: var(--blue-color)
}

.cl-green {
    color: var(--green-color);
}

.cl-red {
    color: var(--red-color);
}

/* end color */
/* start padding+margin */
.p-0 {
    padding: 0;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-15 {
    padding-left: 15px;
}

.m-auto {
    margin: auto;
}

.m-0 {
    margin: 0;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mr-0 {
    margin-right: 0;
}

.mr-10 {
    margin-right: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-10 {
    margin-left: 10px;
}

/* start positon */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* end position */
/* start fonts */
.txt-c {
    text-align: center;
}

@media (max-width:767px) {
    .txt-c-mob {
        text-align: center;
    }
}

.fs-25 {
    font-size: 25px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.txt-tr-cap {
    text-transform: capitalize;
}

.txt-ce {
    text-align: center;
}

.fw-bold {
    font-weight: bold;
}

/* start borders */
.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-half {
    border-radius: 50%;
}

.b-none {
    border: none;
}

.border-ccc {
    border: 1px solid #ccc;
}

.border-eee {
    border: 1px solid #eee;
}

/* end borders */

/* start components */
.between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cent-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}

/* end components */